.dyna-plain-radio-button{
	display: flex;
	align-items: center;
	cursor: pointer;

	.bullet-container{
		height: auto;
		font-size: 0;

		svg {
			stroke: currentColor;
			fill: currentColor;
		}
	}
	.text-container{
		height: auto;
		margin-left: 8px;
	}
}
